.counter-max-container {
  display: inline-block;  
  height: 20px;
  vertical-align: top;
  margin-left: 10px;
}

.counter-plus, .counter-minus {
  cursor: pointer;
  vertical-align: middle;
  height: 20px;
}

.counter-plus:hover, .counter-minus:hover {
  color: red;
}

@keyframes crossfade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.blood {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 1px;
  margin-right: 1px;
  cursor: pointer;
  position: relative; /* For the span child elements using position absolute */
}

.blood span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 20px;
  height: 20px;
  animation: crossfade 1s forwards;
  background-size: contain;
}

.blood:hover {
  filter: drop-shadow(0 0 3px red) brightness(130%);
}

.blood span:nth-child(1) {
  background-image: url(/imgs/Blood.png);
}

.blood span:nth-child(2) {
  background-image: url(/imgs/Blood-Empty.png);
}

.blood-filled span:nth-child(2) {
  animation-direction: reverse;
  opacity: 0;
}

.blood-unfilled span:nth-child(1) {
  animation-direction: reverse;
  opacity: 0;
}

.willpower {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 1px;
  margin-right: 1px;
  cursor: pointer;
  position: relative; /* For the span child elements using position absolute */
}

.willpower span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  animation: crossfade 1s forwards;
  background-size: contain;
}

.willpower:hover {
  filter: drop-shadow(0 0 3px red) brightness(130%);
}

.willpower span:nth-child(1) {
  background-image: url(/imgs/Willpower.png);
}

.willpower span:nth-child(2) {
  background-image: url(/imgs/Willpower-Empty.png);
}

.willpower-filled span:nth-child(2) {
  animation-direction: reverse;
  opacity: 0;
}

.willpower-unfilled span:nth-child(1) {
  animation-direction: reverse;
  opacity: 0;
}
html {
  min-height: 100%;
}

body {
  background: red;
  background: radial-gradient(red, black);
  background-repeat: no-repeat;
  min-height: 100%;
}

.container {
  background-color: white;
  border-radius: 10px;
  min-height: 80vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 800px;
  position: relative;
  padding-bottom: 5vh;
  box-shadow: 0px 0px 15px #333333;
}

.outerContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.create-button {
  position: absolute;
  bottom: 10px;
}

@keyFrames fadeOut {
  0% {max-height: 100px;}
  100% {max-height: 0px;}
}

.removed {
  animation: fadeOut 1000ms forwards;
  max-height: 0px;
  overflow: hidden;
}

.vampire-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#vampireList {
  margin-bottom: 10px;
}

#vampireList > tbody > tr > td {
  vertical-align: middle;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.delete {
  color: black;
  cursor: pointer;
}

.delete:hover {
  color: red;
}

.name {
  color: black;
  font-size: large;
}

.name-normal {
  cursor: pointer;
}

.name-normal:hover {
  color: red;
}

.name-edit {

}
