span.blood {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 1px;
  margin-right: 1px;
  cursor: pointer;
  background-size: contain;
}

.blood-filled {
  background-image: url(/imgs/Blood.png);
}

.blood-unfilled {
  background-image: url(/imgs/Blood-Empty.png);
}

span.willpower {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 1px;
  margin-right: 1px;
  cursor: pointer;
  background-size: contain;
}

.willpower-filled {
  background-image: url(/imgs/Willpower.png);
}

.willpower-unfilled {
  background-image: url(/imgs/Willpower-Empty.png);
}

html {
  min-height: 100%;
}

body {
  background: red;
  background: radial-gradient(red, black);
  background-repeat: no-repeat;
  min-height: 100%;
}

.container {
  background-color: white;
  border-radius: 10px;
  min-height: 80vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 800px;
  position: relative;
  padding-bottom: 5vh;
  box-shadow: 0px 0px 15px #333333;
}

.outerContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.create-button {
  position: absolute;
  bottom: 10px;
}

@keyFrames fadeOut {
  0% {max-height: 100px;}
  100% {max-height: 0px;}
}

.removed {
  animation: fadeOut 1000ms forwards;
  max-height: 0px;
  overflow: hidden;
}

.vampire-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#vampireList {
  margin-bottom: 10px;
}

#vampireList > tbody > tr > td {
  vertical-align: middle;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.delete {
  color: black;
  cursor: pointer;
}

.delete:hover {
  color: red;
}

.name {
  color: black;
  font-size: large;
}

.name-normal {
  cursor: pointer;
}

.name-normal:hover {
  color: red;
}

.name-edit {

}
